{% extends 'base.html' %}

<!-- {% block title %}Post List{% endblock %} -->

{% block content %}

<div class="section-header">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-primary">
        <i class="far fa-user"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total Invoices </h4>
        </div>
        <div class="card-body">
          {{ response_data.total_inv }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-danger">
        <i class="far fa-newspaper"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total Menu Terjual</h4>
        </div>
        <div class="card-body">
          {{ response_data.total_order }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-warning">
        <i class="far fa-file"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total Pendapatan</h4>
        </div>
        <div class="card-body">
          Rp {{response_data.data_income}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4>Total Pendapatan</h4>
        <div class="card-header-action">
          <div class="btn-group">
            <a href="/dashboard/" class="btn {% if request.path == '/dashboard/' %} btn-primary {% endif %}">Today</a>
            <a href="/dashboard/weekly" class="btn {% if request.path == '/dashboard/weekly' %} btn-primary {% endif %}">Week</a>
            <a href="/dashboard/monthly" class="btn {% if request.path == '/dashboard/monthly' %} btn-primary {% endif %}">Month</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas id="total-penjualan" height="182"></canvas>
        <script>
          var ctx = document.getElementById("total-penjualan").getContext('2d');
          var myChart = new Chart(ctx, {
            type: 'line',
            data: {
              labels: {{response_data.chart_penjualan.labels|safe}},
              datasets: [{
                label: 'Sales',
                data: {{response_data.chart_penjualan.data|safe}},
                borderWidth: 2,
                backgroundColor: 'rgba(63,82,227,.8)',
                borderWidth: 0,
                borderColor: 'transparent',
                pointBorderWidth: 0,
                pointRadius: 3.5,
                pointBackgroundColor: 'transparent',
                pointHoverBackgroundColor: 'rgba(63,82,227,.8)',
              }]
            },
            options: {
              legend: {
                display: false
              },
              scales: {
                yAxes: [{
                  gridLines: {
                    // display: false,
                    drawBorder: false,
                    color: '#f2f2f2',
                  },
                  ticks: {
                    beginAtZero: true,
                    stepSize: 1500,
                    callback: function(value, index, values) {
                      return 'Rp ' + value;
                    }
                  }
                }],
                xAxes: [{
                  gridLines: {
                    display: false,
                    tickMarkLength: 15,
                  }
                }]
              },
            }
          });
        </script>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4>Total Penjualan Per Menu</h4>
      </div>
      <div class="card-body">
        {% for key, values in response_data.total_penjualan_permenu.items %}
        <div class="mb-4">
          <div class="text-small float-right font-weight-bold text-muted">{{values}}</div>
          <div class="font-weight-bold mb-1">{{key}}<hr/></div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Top 5 Menu Terjual Paling Banyak</h4>
      </div>
      <div class="card-body">
        <div class="summary">
          <div class="summary-item">
            <ul class="list-unstyled list-unstyled-border">
              {% for data in response_data.most_menu %}
              <li class="media">
                <div class="media-body">
                  <div class="media-right">{{data.total_bought}}</div>
                  <div class="media-title">{{data.menu_item__nama_menu}}</div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}