{% extends 'base.html' %}

<!-- {% block title %}Post List{% endblock %} -->

{% block content %}

<div class="section-header">
  <h1>Dashboard</h1>
</div>
<div class="row">
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-primary">
        <i class="far fa-user"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total Invoices </h4>
        </div>
        <div class="card-body">
          {{ response_data.total_inv }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-danger">
        <i class="far fa-newspaper"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total Menu Terjual</h4>
        </div>
        <div class="card-body">
          {{ response_data.total_order }}
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-3 col-md-6 col-sm-6 col-12">
    <div class="card card-statistic-1">
      <div class="card-icon bg-warning">
        <i class="far fa-file"></i>
      </div>
      <div class="card-wrap">
        <div class="card-header">
          <h4>Total Pendapatan</h4>
        </div>
        <div class="card-body">
          Rp {{response_data.data_income}}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-md-12 col-12 col-sm-12">
    <div class="card">
      <div class="card-header">
        <h4>Total Pendapatan</h4>
        <div class="card-header-action">
          <div class="btn-group">
            <a href="/dashboard/" class="btn {% if request.path == '/dashboard/' %} btn-primary {% endif %}">Today</a>
            <a href="/dashboard/weekly" class="btn {% if request.path == '/dashboard/weekly' %} btn-primary {% endif %}">Week</a>
            <a href="/dashboard/monthly" class="btn {% if request.path == '/dashboard/monthly' %} btn-primary {% endif %}">Month</a>
          </div>
        </div>
      </div>
      <div class="card-body">
        <canvas id="total-penjualan" height="182"></canvas>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-6 col-md-6 col-12">
    <div class="card">
      <div class="card-header">
        <h4>Total Penjualan Per Menu</h4>
      </div>
      <div class="card-body">
        {% for key, values in response_data.total_penjualan_permenu.items %}
        <div class="mb-4">
          <div class="text-small float-right font-weight-bold text-muted">{{values}}</div>
          <div class="font-weight-bold mb-1">{{key}}<hr/></div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="card">
      <div class="card-header">
        <h4>Top 5 Menu Terjual Paling Banyak</h4>
      </div>
      <div class="card-body">
        <div class="summary">
          <div class="summary-item">
            <ul class="list-unstyled list-unstyled-border">
              {% for data in response_data.most_menu %}
              <li class="media">
                <div class="media-body">
                  <div class="media-right">{{data.total_bought}}</div>
                  <div class="media-title">{{data.menu_item__nama_menu}}</div>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}