{% extends 'base.html' %}

<!-- {% block title %}Post List{% endblock %} -->

{% block content %}
          <div class="section-header">
            <h1>Order History</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="#">Order</a></div>
              <div class="breadcrumb-item"><a href="#">History</a></div>
            </div>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">

                    <div class="card-header-form">
                      <!-- <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search By Order Number">
                          <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form> -->
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th>Ordered Menu</th>
                          <th>Total Biaya</th>
                          <th> Atas Nama </th>
                          <th> Order Type </th>
                          <th> Quantity </th>
                          <th> Table Number </th>
                          <th> Status </th>
                          <th> Alamat </th>
                          <th> Date </th>
                        </tr>
                        {% for data in datas %}
                        <tr>
                          <td>{{data.menu_item.nama_menu}}</td>
                          <td> {{data.total_price}} </td>
                          {% if data.atas_nama == None %}
                          <td>-</td>
                          {% else %}
                          <td> {{data.atas_nama}} </td>
                          {% endif %}
                          <td> {{data.order_type}} </td>
                          <td> {{data.quantity}} </td>
                          {% if data.table_number == None %}
                          <td>-</td>
                          {% else %}
                          <td> {{data.table_number}} </td>
                          {% endif %}
                          <td> {{data.status}} </td>
                          {% if data.alamat == None %}
                          <td>-</td>
                          {% else %}
                          <td> {{data.alamat}} </td>
                          {% endif %}
                          <td> {{data.created_at}} </td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="card-footer text-right">
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                        {% if datas.has_previous %}
                        <li class="page-item{% if datas.number == 1 %} disabled{% endif %}">
                          <a class="page-link" href="?page={{ datas.previous_page_number }}" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                        </li>
                        {% endif %}

                        {% for p in datas.paginator.page_range %}
                        <li class="page-item{% if p == datas.number %} active{% endif %}">
                          <a class="page-link" href="?page={{ p }}">{{ p }}</a>
                        </li>
                        {% endfor %}

                        {% if datas.has_next %}
                        <li class="page-item{% if datas.number == datas.paginator.num_pages %} disabled{% endif %}">
                          <a class="page-link" href="?page={{ datas.next_page_number }}"><i class="fas fa-chevron-right"></i></a>
                        </li>
                        {% else %}
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-right"></i></a>
                        </li>
                        {% endif %}
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}