{% extends 'base.html' %}

<!-- {% block title %}Post List{% endblock %} -->

{% block content %}
          <div class="section-header">
            <h1>Management QR</h1>
            <div class="section-header-breadcrumb">
              <div class="breadcrumb-item active"><a href="#">Management</a></div>
              <div class="breadcrumb-item"><a href="#">QR</a></div>
            </div>
          </div>

          <div class="section-body">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    <form action="/table-qr/generate" method="POST">
                      {% csrf_token %}
                    Table Number <input type="number" name="table_number" required>
                    <button class="btn btn-success" type="submit">Generate New QR</button>
                    </form>
                    <div class="card-header-form">
                      <!-- <form>
                        <div class="input-group">
                          <input type="text" class="form-control" placeholder="Search">
                          <div class="input-group-btn">
                            <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                          </div>
                        </div>
                      </form> -->
                    </div>
                  </div>
                  <div class="card-body p-0">
                    <div class="table-responsive">
                      <table class="table table-striped">
                        <tr>
                          <th>Table Number</th>
                          <th>QR Image </th>
                          <th>Action</th>
                        </tr>
                        {% for data in datas %}
                        <tr>
                          <td>{{data.table_number}}</td>
                          <td><img class="qr-code" src="data:image/png;base64,{{ data.qr_code }}" alt="QR Code"></td>
                          <td><a href="/table-qr/delete/{{data.id}}" class="btn btn-danger">Delete</a></td>
                        </tr>
                        {% endfor %}
                      </table>
                    </div>
                  </div>
                  <div class="card-footer text-right">
                    <nav class="d-inline-block">
                      <ul class="pagination mb-0">
                        <li class="page-item disabled">
                          <a class="page-link" href="#" tabindex="-1"><i class="fas fa-chevron-left"></i></a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1 <span class="sr-only">(current)</span></a></li>
                        <li class="page-item">
                          <a class="page-link" href="#">2</a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                          <a class="page-link" href="#"><i class="fas fa-chevron-right"></i></a>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
{% endblock %}